
body{
    overflow-x: hidden !important;
 }
 
 .kkk{
     color: orchid;
 }
 ::-webkit-scrollbar {
    display: none;
}
*{
    overflow-x: hidden !important;
 }
 /*A-Busqueda */
 #myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f09c9c; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  
  #myUL li a:hover:not(.header) {
    background-color: rgb(54, 200, 226); /* Add a hover effect to all links, except for headers */
  }
  /*Z-Busqueda */

  .icons-social-networks >a{
    --size: 45px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.5s ;
  }

  .icons-social-networks >a:hover{
    filter: opacity(0.5);
}
@font-face {
  font-family: 'operator-mono';
  src: url('../fonts/OperatorMono-Book.otf');
}
@font-face {
  font-family: 'operator-italic';
  src: url('../fonts/OperatorMono-BookItalic.otf');
}
.operator-italic{
  font-family: 'operator-italic';
}
.operator-mono{
  font-family: 'operator-mono';
}
@font-face {
  font-family: 'horse-font';
  src: url('../fonts/horse.ttf');
}
.horse-font{
  font-family: 'horse-font';
}
